@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
    overscroll-behavior: none;
    font-family: 'Oxygen', sans-serif;
}

.marko {
    font-family: 'Marko One';
}

.inter {
    font-family: 'Inter', sans-serif;
}

.quando {
    font-family: 'Quando', serif;
}

.us-none {
    user-select: none;
}

.pfp {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100em;
    border: 1px solid var(--bs-secondary);
    box-shadow: 0px 4px 10px rgba(32, 12, 0, 0.3);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bs-page);
}

main {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.masonry {
    column-count: 4;
    column-gap: 1em;
}

@media screen and (max-width: 768px) {
    .masonry {
        column-count: 2;
        column-gap: 0.5em;

        >* {
            padding-bottom: 0.5em;
        }
    }
}